.header {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart__btn {
  display: flex;
  align-items: center;
  border: 0.1rem solid var(--main-text-color);
  width: fit-content;
  padding: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.cart__btn svg {
  width: 2rem;
  height: auto;
  display: block;
  margin-right: 1rem;
}
.cart__btn .cart__span {
  font-size: 1.6rem;
  font-family: var(--title-font);
}

@media screen and (min-width: 1024px) {
}
