.front-page__main {
 
  background-color: var(--first-brand-color);
}
.hero {
  padding: 10rem 0;
  text-align: center;
}
.hero__block-left {
  margin: 0 auto 15rem;
  max-width: 40rem;
}
.hero .title {
  margin-bottom: 1rem;
}
.contacts__box {
  margin-top: 10rem;
}
.phrase__title {
  font-family: var(--title-font);
  font-size: 2rem;
  margin-bottom: 3rem;
}
.contacts__list {
  margin-top: 4rem;
}
.contacts__item:not(:last-child) {
  margin-bottom: 2rem;
}
.contacts__item-text {
  font-size: 1.4rem;
}
a.contacts__item-text {
  transition: all 0.3s ease-in-out;
}
.contacts__item-text.mr {
  margin-right: 1rem;
  font-family: var(--title-font);
}
.hero__block-bottom {
  margin: 0 auto;
  max-width: 70rem;
}
.left-decor,
.hero__block-top {
  display: none;
}
@media screen and (min-width: 1440px) {
  .hero__block {
    display: flex;
    text-align: left;
  }
  .hero__block-left {
    width: 45%;
    max-width: 45%;
    margin: 0;
    padding: 3rem;
  }
  .left-decor {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 3rem;
  }
  .left-decor::before {
    border : 0;
    height : 8rem; 
    width : 1rem;
    display: block;
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    background-image: -webkit-linear-gradient(top, var(--first-brand-color), var(--main-text-color));
    background-image: -moz-linear-gradient(top, var(--first-brand-color), var(--main-text-color));
    background-image: -ms-linear-gradient(top, var(--first-brand-color), var(--main-text-color));
    background-image: -o-linear-gradient(top, var(--first-brand-color), var(--main-text-color));
    background-image: linear-gradient(top, var(--first-brand-color), var(--main-text-color));
  }
  .left-decor span {
    font-size: 1.6rem;
    text-transform: lowercase;
  }
  .left-decor span b {
    font-family: var(--title-font);
    color: var(--third-brand-color);
  }
  .left-decor .svg {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: var(--main-bg-color);
    border: .1rem solid var(--main-text-color);
    margin-right: 1rem;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 -6.5 38 38' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='icons' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='ui-gambling-website-lined-icnos-casinoshunter' transform='translate(-1511.000000, -158.000000)' fill='%23000000' fill-rule='nonzero'%3E%3Cg id='1' transform='translate(1350.000000, 120.000000)'%3E%3Cpath d='M187.812138,38.5802109 L198.325224,49.0042713 L198.41312,49.0858421 C198.764883,49.4346574 198.96954,49.8946897 199,50.4382227 L198.998248,50.6209428 C198.97273,51.0514917 198.80819,51.4628128 198.48394,51.8313977 L198.36126,51.9580208 L187.812138,62.4197891 C187.031988,63.1934036 185.770571,63.1934036 184.990421,62.4197891 C184.205605,61.6415481 184.205605,60.3762573 184.990358,59.5980789 L192.274264,52.3739093 L162.99947,52.3746291 C161.897068,52.3746291 161,51.4850764 161,50.3835318 C161,49.2819872 161.897068,48.3924345 162.999445,48.3924345 L192.039203,48.3917152 L184.990421,41.4019837 C184.205605,40.6237427 184.205605,39.3584519 184.990421,38.5802109 C185.770571,37.8065964 187.031988,37.8065964 187.812138,38.5802109 Z' id='right-arrow'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1.5rem;
  }
  .line {
    margin-right: 1rem;
    position: relative;
    width: .1rem;
    height: 8rem;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000000, rgb(0, 0, 0, 0) );
  }
  .line::before {
    width: 5rem;
    height: .1rem;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #000000);
    position: absolute;
    display: block;
    content: '';
    transform: translate(0, -50%);
    left: -5rem;
    top: 50%;
  }
  .line::after {
    position: absolute;
    display: block;
    content: '';
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("data:image/svg+xml,%3Csvg width='800px' height='800px' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 4L9 11L4.5 7.5L9 4Z' fill='%23000000' /%3E%3C/svg%3E");
    width: 2.5rem;
    height: 2.5rem;
    top: 50%;
    left: -1.4rem;
    transform: translate(0, -50%);
  }
  .hero .title {
    font-size: 8rem;
    text-transform: lowercase;
    line-height: .9;
  }
  .hero .title::first-letter {
    text-transform: uppercase;
    font-size: 12rem;
    color: var(--third-brand-color);
  }
  .hero__block-left .text {
    max-width: 35rem;
  }
  .hero__block-left .text.text--mb {
    margin-bottom: 5rem;
  }
  .hero__btn {
    margin-left: 0;
  }
  /* .contacts__box {
    margin-top: 15rem;
  } */
  .contacts__item {
    padding: 2rem 3rem;
    border-radius: 2rem;
    width: fit-content;
  }
  .contacts__item:first-child {
    z-index: 3;
    position: relative;
    background-image: linear-gradient(to right, var(--fourth-brand-color), var(--fifth-brand-color));
  }
  .contacts__item:nth-child(2) {
    z-index: 2;
    position: relative;
    margin-left: 2rem;
    background-color: var(--main-bg-color);
  }
  .contacts__item:last-child {
    margin-left: 4rem;
    position: relative;
    border: .1rem solid var(--third-brand-color);
  }
  .contacts__item:not(:last-child) {
    margin-bottom: 0;
  }
  .contacts__item:not(:first-child) {
    margin-top: -2rem;
  }
  .contacts__item-text.mr {
    margin-right: 0;
    margin-bottom: 1rem;
    display: block;
    font-size: 2rem;
  }

  .hero__block-top {
    display: flex;
    position: relative;
  }
  .hero__block-top::before {
    position: absolute;
    display: block;
    content: "";
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    background-color: var(--third-brand-color);
    z-index: 4;
    left: 11.5rem;
    top: -4rem;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg' fill='none'%3E%3Cpath stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='1' d='M4.343 4.343l11.314 11.314m0 0h-9.9m9.9 0v-9.9'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 5rem;
  }
  .first-block {
    background-image: linear-gradient(to right, var(--fourth-brand-color), var(--fifth-brand-color));
    width: calc((100% - 40rem) / 2);
    height: 15rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 0 2rem 2rem;
    position: absolute;
    z-index: 3;
  }
  .first-block svg {
    display: block;
    width: 10rem;
    height: auto;
    margin-left: -3rem;
    margin-top: -1rem;
  }
  .first-block span {
    font-family: var(--title-font);
    font-size: 1.2rem;
  }
  .second-block {
    width: 40rem;
    height: 50rem;
    margin: 0 auto;
    z-index: 2;
    position: relative;
  }
  .second-block::before {
    display: block;
    content: " ";
    width: 40rem;
    height: 50rem;
    border: .1rem solid var(--main-text-color);
    position: absolute;
    top: -2rem;
    right: -2rem;
    border-radius: 0 3rem 0 0;
    border-left: none;
    border-bottom: none;
  }
  .hero__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3rem;
    z-index: 3;
  }
  .block-top-svg {
    position: absolute;
    width: 15rem;
    height: auto;
    top: 22rem;
    left: 0;
  }
  .hero__block-right {
    width: 55%;
    max-width: 55%;
    margin: 0;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .third-block {
    width: 30rem;
    height: 30rem;
    border-radius: 3rem;
    position: absolute;
    right: 0;
    bottom: -5rem;
    background-image: linear-gradient(to top, var(--first-brand-color), var(--fifth-brand-color));
  }
  .hero__block-bottom .phrase__title {
    position: relative;
    padding-left: 5rem;
  }
  .hero__block-bottom .phrase__title::before {
    position: absolute;
    display: block;
    content: '';
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    background-color: var(--main-bg-color);
    border: .1rem solid var(--main-text-color);
    background-image: url("data:image/svg+xml,%3Csvg fill='%23000000' xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='xMidYMid' width='31.938' height='31.938' viewBox='0 0 31.938 31.938'%3E%3Cpath d='M31.595,7.763 L26.540,11.969 L30.580,15.197 C30.829,15.396 30.968,15.701 30.954,16.019 C30.941,16.337 30.776,16.630 30.510,16.806 L25.936,19.851 C25.941,19.891 25.960,19.926 25.960,19.967 L25.960,24.955 C25.960,25.289 25.793,25.600 25.515,25.785 L16.523,31.771 C16.489,31.794 16.450,31.804 16.414,31.822 C16.381,31.839 16.350,31.856 16.315,31.869 C16.202,31.911 16.087,31.939 15.969,31.939 C15.851,31.939 15.735,31.911 15.623,31.869 C15.588,31.856 15.557,31.839 15.523,31.822 C15.487,31.804 15.449,31.794 15.415,31.771 L6.423,25.785 C6.145,25.600 5.978,25.289 5.978,24.955 L5.978,19.967 C5.978,19.926 5.997,19.891 6.001,19.851 L1.428,16.806 C1.162,16.630 0.997,16.337 0.984,16.019 C0.970,15.701 1.109,15.396 1.358,15.197 L5.398,11.969 L0.343,7.763 C0.101,7.561 -0.032,7.257 -0.015,6.943 C0.002,6.629 0.166,6.341 0.428,6.166 L9.420,0.180 C9.787,-0.066 10.273,-0.040 10.614,0.244 L15.969,4.700 L21.324,0.244 C21.664,-0.040 22.150,-0.066 22.518,0.180 L31.509,6.166 C31.772,6.341 31.936,6.629 31.953,6.943 C31.970,7.257 31.837,7.561 31.595,7.763 ZM28.265,15.903 L24.907,13.220 L17.660,18.044 L21.018,20.727 L28.265,15.903 ZM16.968,29.077 L23.962,24.421 L23.962,21.166 L21.519,22.792 C21.350,22.904 21.157,22.960 20.964,22.960 C20.743,22.960 20.522,22.886 20.340,22.741 L16.968,20.047 L16.968,29.077 ZM15.969,16.772 L23.160,11.985 L15.969,7.198 L8.778,11.985 L15.969,16.772 ZM7.976,24.421 L14.970,29.077 L14.970,20.047 L11.597,22.741 C11.416,22.886 11.195,22.960 10.973,22.960 C10.781,22.960 10.588,22.904 10.419,22.792 L7.976,21.166 L7.976,24.421 ZM10.920,20.727 L14.278,18.044 L7.031,13.220 L3.673,15.903 L10.920,20.727 ZM9.908,2.253 L2.650,7.086 L7.044,10.742 L14.302,5.910 L9.908,2.253 ZM22.030,2.253 L17.636,5.910 L24.894,10.742 L29.288,7.086 L22.030,2.253 Z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 2rem;
  }
  .hero__block-bottom {
    position: relative;
  }
  .hero__block-bottom::before {
    position: absolute;
    display: block;
    content: '';
    width: 100%;
    height: .1rem;
    top: -3rem;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #000000, rgb(0, 0, 0, 0) )
  }
}

